/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require jquery-ui
 *= require_tree .
 *= require_self
 */
 ul.ui-autocomplete {
   position: absolute;
   list-style: none;
   margin: 0;
   padding: 0;
   border: solid 1px #999;
   cursor: default;
   li {
     background-color: #FFF;
     border-top: solid 1px #DDD;
     margin: 0;
     padding: 0;
     a {
       color: #000;
       display: block;
       padding: 3px;
     }
     a.ui-state-hover, a.ui-state-active {
       background-color: #FFFCB2;
     }
   }
 }
