<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :product_name %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :product_price %>
  </div>

  <div class="field">
    <%= form.label :category_name %>
    <!-- %= form.text_field :category_name %-->
    <%= form.text_field :category_name, class: "product_category_name", data: {autocomplete_source: Category.order(:name).map(&:name)} %>
    <!-- %= form.text_field :category_name, data: {autocomplete_source: categories_path}, class: "product_category_name" % -->
    <!-- %= form.collection_select :category_id, Category.all, :id, :name % -->
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<div id='mydiv' style='display:none'>
  TEST
</div>
